
.header::before {
  transition: all 1s;
}
.header {
  z-index: 100;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;  
  padding: 0 10%;
}

.hideHeader {
  display: none;
}

.logo {
  font-size: 2rem;
  color: snow;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin-right: 30px;
  padding: 0;
  display: flex;
  align-items: baseline;
  vertical-align: middle;
  
}

.header li {
  margin-left: 5rem;
  text-align: center;
  vertical-align: middle;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.responsiveNav {
  display: none;
}

.buttonContainer {
	position: relative;
	width: 100%;
	display: block;
	z-index: 50;
  transition: all 1s;
  padding: 0;
}

.responsiveButton {
  position: absolute;
  list-style: none;
	font-size: 25px;
	left: -50px;
	padding: 5px;
}

.responsiveNav:hover > .responsiveContainer{
  display: flex;
  top: 30px;
  margin-bottom: 30px;
  transition: all .5s;
}

.header:hover {
  margin-bottom: 80px;
}

@media only screen and (max-width: 1000px) {
  .header {
    justify-content: center;
    height: 50px;
    margin: auto;
    transition: all 1s;
    padding: 0;
  }

  nav {
    display: none;
    position: relative;
  }

  .responsiveNav {
		display: block;
		position: absolute;
		height: 38px;
		width: 100%;
    transition: all 1s;
  }

  .responsiveContainer{
    display: flex;
    position: relative;
    background-color: #77002e;
    transition: all 1s;
    z-index: -1;
    top: -100px;
  }
  .responsiveContainer ul{
    width: 100%;
    display: block;
    position: relative;
  }

  .responsiveContainer li{
    list-style: none;
    position: relative;
    left: -40px;
  }

}
