.container > h1{
    color: #000 !important;
}

.list{
    list-style: none;
    padding: 0;
    text-align: center;
}

.h3{
    color: #000;
}

.listContainer{
    overflow: hidden;
}
@media only screen and (max-width: 1000px) {

    .container{
        width: auto;
        left: 0;
        padding: 1em;
    }
}